/* 样式重置 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 5px;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: linear-gradient(90deg, #ff9a9e, #fad0c4, #c3b4e5, #fbc2eb, #ff9a9e, #fad0c4);
    background-size: 500% 200%;
    animation: gradientAnimation 15s linear infinite;
    height: 100%;
}

ul {
    padding-left: 20px;
}

h1 {
    padding: 10px;
    color: #fff;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

h2{
    margin-top: 10px;
}
h3{
    margin-top: 10px;
}
/* 容器 */
.container {
    border-radius: 0;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
}
p{
    margin-bottom: 5px;
}
/* 圣杯布局 */
.sidebar {
    width: 240px;
    background-color: #eee;
    padding: 15px;
    flex-shrink: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.main {
    background-color: #fff;
    padding: 15px;
    margin: 0 10%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 0 0;

}

.aside {
    width: 240px;
    background-color: #eee;
    padding: 15px;
    flex-shrink: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


a{
    text-decoration: none;
    font-family: 'Consolas', 'Monaco', 'Menlo', 'DejaVu Sans Mono', 'Courier New', 'Lucida Console';
    color: #ffffff;
    font-weight: bold;
    background-color: #e46623;
    padding-left: 5px;
    padding-right: 5px;
    transition: 0.5s;
}

input{
    border: 0px;
    border-bottom: #ddd 2px solid;
    color: rgb(0, 0, 0);
    /* font-weight: bold; */
    background-color: #eee;
    padding: 4px;
    margin: 5px;
    transition: 0.5s;
    outline: none;
}
.highlightinput{
    font-weight: bold;
}

input:focus{
    border-bottom: #ffb288 2px solid;

}

.highlightinput:focus{
    /* border: #ffeeee 2px solid; */
    background-color: #ffeeee;
    box-shadow: #ff5900 0px 0px 1000px 0px;
    color: #db4d00;
}

button{
    /* border: #ffb288 1px solid; */
    border: 0;
    color: #000000;
    /* font-weight: bold; */
    background-color: #eee;
    padding: 4px 8px;
    margin: 5px;
    transition: 0.2s;
    outline: none;
}
button:hover{
    color: #db4d00;
    background-color: #ffe4d5;
}

a:hover{
    background-color: #8a23e4;
    box-shadow: rgb(138, 35, 228,0.5) 0px 0px 10px 0px;
}


footer {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    color: #5c5c5c;
    padding: 3px;
    font-size: small;
    border-radius: 0;
    border-radius: 0 0 10px 10px;
    margin: 0 10%;
}



.navtop{
    margin-left: 20px;
    margin-right: 20px;
}

nav {
    background-color: white; /* 设置背景色为白色 */
    border-radius: 10px; /* 设置圆角半径为10px */
    display: flex; /* 启用Flexbox布局 */
    justify-content: space-between; /* 链接之间平均分布空间 */
    align-items: center; /* 垂直居中链接 */
    padding: 5px; /* 添加内边距 */
    margin: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 1160px;
}
nav a {
    color: black; /* 设置链接文字颜色 */
    background-color: transparent;
    flex: 1; /* 使链接能够平均分配空间，如果需要的话 */
    text-align: center; /* 链接文本居中 */
    padding: 5px 10px; /* 添加内边距 */
    flex-grow: 1; /* 允许链接扩展以填满可用空间 */
    flex-basis: 0; /* 设置链接的初始大小为0，以便flex-grow可以正确工作 */
    white-space: nowrap;
}

nav a:hover {
    background-color: #ddd;
    box-shadow: none;
}

.highlight{
    font-weight: bold;
    background: linear-gradient(90deg, #e79093, #dd8a73, #9479d3, #d47abb);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

input[type="checkbox"] {
    border: 2px solid #ff9a9e;
    background-color: #fff;
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: #ff9a9e;
    margin: 5px;
}

input[type="checkbox"]:checked {
    background-color: #ff9a9e;
    border: 2px solid #ff9a9e;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure modal is on top */
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    max-height: 80%;
    overflow: auto;
    z-index: 1001; /* Ensure modal is on top */
}