body{
    zoom: 1.25;
}

.task-item{
    background-color: #eee;
    padding: 2px 5px;
    margin:5px;
    text-align: left;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.task-item div{
    display: flex;
    align-items: center;
}

.task-item input[type="checkbox"]{
    margin-left: 20px;
    margin-right: 20px;
}

.condensed{
    font-size: small;
    margin: 3px;
    padding: 2px 5px;
}

.badge{
    background-color: #ddd;
    color: #888;
    border-radius: 10px;
    padding: 0 5px;
    margin-left: 5px;
    max-height: 20px;
    overflow: hidden;
}

.moderate{
    color: rgb(0, 82, 189) !important;
    background-color: rgb(220, 230, 240) !important; 
}

.danger{
    color: rgb(255, 0, 0) !important;
    background-color: rgb(253, 222, 222) !important;
}